.header {
  font-weight: 600;
  background-image: -webkit-linear-gradient(left, #0c2e77, #699cf3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text {
  font-weight: 400;
  color: #171717;
}

.link {
  text-decoration: underline;
}

@media (max-width: 800px) {
  .header {
    font-size: 25px;
  }

  .text {
    font-size: 15px;
  }
}
@media (min-width: 800px) {
  .header {
    font-size: 40px;
  }

  .text {
    font-size: 20px;
  }
}

.first-part {
  display: flex;
  margin: 0 2%;
  margin-top: 50px;
}

.first-part-left {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.first-part-link-button {
  padding: 12px 28px;
  border-width: 1.2px;
  border-color: #142d86;
  border-style: solid;
  border-radius: 21px;
  background-color: white;
  color: #171717;
  font-size: 16px;
  font-weight: 500;

  transition: background-color 0.2s, color 0.2s;
}

.first-part-link-button:hover {
  background-color: #142d86;
  color: white;
}

.first-part-right {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

/* Formatting depending on screen size */
@media (max-width: 800px) {
  .first-part {
    flex-direction: column;
    justify-content: center;
  }

  .first-part-left-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
  }

  .first-part-header {
    margin-bottom: 15px;
    text-align: center;
  }

  .first-part-text {
    text-align: justify;
    margin-bottom: 30px;
  }
}
@media (min-width: 800px) {
  .first-part {
    flex-direction: row;
    align-items: center;
  }

  .first-part-left {
    flex: 2;
    margin-left: 2%;
  }

  .first-part-left-inner {
    width: 80%;
  }

  .first-part-header {
    margin-bottom: 50px;
  }

  .first-part-text {
    margin-bottom: 50px;
  }

  .first-part-right {
    flex: 1;
  }
}

.first-part-image {
  width: 300px;
}


/* Image formatting */
@media (max-width: 800px) {
  .first-part-image {
    width: 250px;
  }
}

/* Second part */
.second-part {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
}

.second-part-upper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

.second-part-upper-header {
  text-align: center;
}

@media (max-width: 800px) {
  .second-part {
    margin-right: 2%;
    margin-left: 2%;
  }

  .second-part-upper {
    width: 100%;
  }

  .second-part-upper-header {
    margin-bottom: 10px;
  }
}
@media (min-width: 801px) {
  .second-part {
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 50px;
  }

  .second-part-upper {
    width: 50%;
  }

  .second-part-upper-header {
    text-align: center;
    margin-bottom: 20px;
  }
}

.second-part-lower {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
  width: 100%;
}

.second-part-lower-grid-element {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.second-part-lower-grid-element-image {
  width: 100px;
  margin-bottom: 20px;
}

.second-part-lower-grid-element-header {
  font-weight: 600;
  font-size: 24px;
  color: #272A36;
  margin-bottom: 40px;
}

.second-part-lower-grid-element-text {
  font-size: 16px;
  text-align: center;
}

@media (max-width: 800px) {

}
@media (min-width: 801px) {

}

.third-part {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

.third-part-upper {
  background-image: -webkit-linear-gradient(right, #69B7FF, #D8E6EB);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 130px;
  margin-bottom: -70px;
  width: 100%;
}

.third-part-header {
  color: #FAFAFA;
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 50px;
}

.third-part-text {
  color: #FAFAFA;
  font-size: 16px;
  width: 400px;
  text-align: center;
}

.third-part-lower {
  height: 400px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 40px;
}

.third-part-image {
  width: 300px;
}

@media (max-width: 800px) {

}
@media (min-width: 801px) {

}

.fourth-part {
  margin-bottom: 80px;
}

.fourth-part-background {
  background-image: -webkit-linear-gradient(right, #69B7FF, #D8E6EB);
  height: 100px;
  margin-bottom: -100px;
  width: 100%;
}

.fourth-part-inner {
  margin: 0 5%;
  display: grid;
  grid-template-columns: 1.2fr 2fr;
  column-gap: 100px;
}

.fourth-part-image {
  margin-top: -30px;
  width: 400px;
  justify-self: center;
}

.fourth-part-header {
  color: #FFFFFF;
  font-weight: 600;
  font-size: 40px;
  margin-top: 24px;
  margin-bottom: 50px;
}

.fourth-part-text {
  font-size: 16px;
  margin-bottom: 50px;
}

.fourth-part-list-text {
  font-size: 16px;
  margin-bottom: 20px;
}

@media (max-width: 800px) {

}
@media (min-width: 801px) {

}

/* Do poprawienia (background) !!! */
.fifth-part {
  background-image: url("img/fifth_part_background.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fifth-part-text {
  font-size: 28px;
  line-height: 48px;
  text-align: center;
  width: 80%;
}

@media (max-width: 800px) {

}
@media (min-width: 801px) {

}

.sixth-part {
  margin-bottom: 100px;
}

.sixth-part-upper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 80px;
}

.sixth-part-header {
  text-align: center;
  margin-bottom: 10px;
}

.sixth-part-text {
  text-align: center;
}

.sixth-part-lower {
  display: grid;
  width: 70%;
  justify-self: center;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;
}

.sixth-part-lower-column {
  display: flex;
  flex-direction: column;
  justify-self: center;
}

.sixth-part-lower-element {
  margin-bottom: 25px;
}

.sixth-part-icon {
  display: inline;
  vertical-align: top;
  margin-right: 15px;
}

.sixth-part-lower-element-text {
  display: inline;
  font-size: 30px;
}

@media (max-width: 800px) {

}
@media (min-width: 801px) {

}
