.header {
  font-weight: 600;
  background-image: -webkit-linear-gradient(left, #0c2e77, #699cf3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text {
  font-weight: 400;
  color: #171717;
}

.link {
  text-decoration: underline;
}

@media (max-width: 800px) {
  .header {
    font-size: 25px;
  }

  .text {
    font-size: 15px;
  }
}
@media (min-width: 800px) {
  .header {
    font-size: 40px;
  }

  .text {
    font-size: 20px;
  }
}

.first-part {
  display: flex;
  margin: 0 2%;
}

.first-part-left {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.first-part-link-button {
  padding: 12px 28px;
  border-width: 1.2px;
  border-color: #142d86;
  border-style: solid;
  border-radius: 21px;
  background-color: white;
  color: #171717;
  font-size: 16px;
  font-weight: 500;

  transition: background-color 0.2s, color 0.2s;
}

.first-part-link-button:hover {
  background-color: #142d86;
  color: white;
}

.first-part-right {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

/* Formatting depending on screen size */
@media (max-width: 800px) {
  .first-part {
    flex-direction: column;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 50px;
  }

  .first-part-left-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
  }

  .first-part-header {
    margin-bottom: 15px;
    text-align: center;
  }

  .first-part-text {
    text-align: justify;
    margin-bottom: 30px;
  }
}
@media (min-width: 801px) {
  .first-part {
    flex-direction: row;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .first-part-left {
    flex: 2;
    margin-left: 2%;
  }

  .first-part-left-inner {
    width: 80%;
  }

  .first-part-header {
    margin-bottom: 50px;
  }

  .first-part-text {
    margin-bottom: 50px;
  }

  .first-part-right {
    flex: 1;
  }
}

/* First part image */
@media (max-width: 800px) {
  .first-part-image-phone {
    width: 250px;
  }
  .first-part-image-computer {
    width: 0;
  }
}
@media(min-width: 801px) {
  .first-part-image-phone {
    width: 0;
  }
  .first-part-image-computer {
    width: 300px;
  }
}

/* Second part */
.second-part {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.second-part-upper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.second-part-upper-header {
  text-align: center;
}

@media (max-width: 800px) {
  .second-part {
    margin-right: 2%;
    margin-left: 2%;
    margin-bottom: 0;
  }

  .second-part-upper {
    width: 100%;
    margin-bottom: 20px;
  }

  .second-part-upper-header {
    margin-bottom: 10px;
  }
}
@media (min-width: 801px) {
  .second-part {
    margin-right: 10%;
    margin-left: 10%;
    margin-bottom: 100px;
  }

  .second-part-upper {
    margin: 100px 0;
    margin-bottom: 50px;
  }

  .second-part-upper-header {
    text-align: center;
    margin-bottom: 20px;
  }
}

.second-part-lower {
  width: 100%;
}

.second-part-lower-grid-element {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.second-part-lower-grid-element-image {
  width: 100px;
  margin-bottom: 20px;
}

.second-part-lower-grid-element-header {
  font-weight: 600;
  font-size: 24px;
  color: #272A36;
  margin-bottom: 40px;
}

.second-part-lower-grid-element-text {
  font-size: 16px;
  text-align: center;
}

@media (max-width: 800px) {
  .second-part-lower {
    display: flex;
    flex-direction: column;
  }

  .second-part-lower-grid-element {
    margin-bottom: 50px;
  }

  .second-part-lower-grid-element-header {
    margin-bottom: 10px;
  }

  .second-part-lower-grid-element-text {
    margin: 0 20px;
    text-align: justify;
  }
}
@media (min-width: 801px) {
  .second-part-lower {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
  }

  .second-part-lower-grid-element-header {
    margin-bottom: 40px;
  }
  
  .second-part-lower-grid-element-text {
    text-align: center;
  }
}

.third-part {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.third-part-upper {
  background-image: -webkit-linear-gradient(right, #69B7FF, #D8E6EB);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.third-part-header {
  color: #FAFAFA;
  font-weight: 600;
  text-align: center;
}

.third-part-text {
  color: #FAFAFA;
  font-size: 16px;
  text-align: center;
}

@media (max-width: 800px) {
  .third-part {
    margin-bottom: 20px;
  }

  .third-part-upper {
    padding-top: 30px;
    padding-bottom: 100px;
    margin-bottom: -70px;
  }

  .third-part-header {
    font-size: 25px;
    margin: 0 4%;
    margin-bottom: 20px;
  }
  
  .third-part-text {
    margin: 0 4%;
  }

  .third-part-lower {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .third-part-image {
    margin-bottom: 20px;
    width: 80%;
  }
}
@media (min-width: 801px) {
  .third-part {
    margin-bottom: 50px;
  }

  .third-part-upper {
    padding-top: 30px;
    padding-bottom: 130px;
    margin-bottom: -70px;
  }

  .third-part-header {
    font-size: 40px;
    margin-bottom: 50px;
  }

  .third-part-text {
    width: 400px;
  }

  .third-part-lower {
    height: 400px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 40px;
  }

  .third-part-image {
    width: 300px;
  }  
}

.fourth-part-header-phone,
.fourth-part-header-computer {
  color: #FFFFFF;
  font-weight: 600;
}

.fourth-part-text,
.fourth-part-list-text {
  font-size: 16px;
}

@media (max-width: 800px) {
  .fourth-part {
    margin-bottom: 30px;
  }

  .fourth-part-background {
    height: 0;
  }

  .fourth-part-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .fourth-part-header-phone {
    background-image: -webkit-linear-gradient(right, #69B7FF, #D8E6EB);
    width: 100%;
    font-size: 25px;
    line-height: 70px;
    height: 170px;
    text-align: center;
    margin-bottom: -100px;
  }

  .fourth-part-header-computer {
    height: 0;
    width: 0;
    font-size: 0;
  }

  .fourth-part-image {
    width: 85%;
    margin-bottom: 20px;
  }

  .fourth-part-text {
    margin: 0 6%;
    margin-bottom: 30px;
    text-align: justify;
  }
  
  .fourth-part-list-text {
    margin: 0 6%;
    margin-bottom: 10px;
    text-align: justify;
  }
}
@media (min-width: 801px) {
  .fourth-part {
    margin-bottom: 80px;
  }

  .fourth-part-background {
    background-image: -webkit-linear-gradient(right, #69B7FF, #D8E6EB);
    height: 100px;
    margin-bottom: -100px;
    width: 100%;
  }

  .fourth-part-inner {
    margin: 0 5%;
    display: grid;
    grid-template-columns: 1.2fr 2fr;
    column-gap: 100px;
  }
  
  .fourth-part-image {
    margin-top: -30px;
    width: 400px;
    justify-self: center;
  }

  .fourth-part-header-phone {
    height: 0;
    width: 0;
    font-size: 0;
  }
  
  .fourth-part-header-computer {
    font-size: 40px;
    margin-top: 24px;
    margin-bottom: 50px;
  }

  .fourth-part-text {
    margin-bottom: 50px;
  }
  
  .fourth-part-list-text {
    margin-bottom: 20px;
  }
}

/* Do poprawienia (background) !!! */
.fifth-part {
  background-image: url("img/fifth_part_background.png");
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (max-width: 800px) {
  .fifth-part {
    background-size: cover;
    background-repeat: no-repeat;
    padding: 20px 0;
    margin-bottom: 20px;
  }

  .fifth-part-text {
    font-size: 16px;
    line-height: 30px;
    text-align: justify;
    width: 90%;
    margin-bottom: 10px;
  }
}
@media (min-width: 801px) {
  .fifth-part {
    background-size: cover;
    background-repeat: no-repeat;
    height: 600px;
    margin-bottom: 30px;
  }
  
  .fifth-part-text {
    font-size: 22px;
    line-height: 48px;
    text-align: center;
    width: 80%;
    margin-bottom: 40px;
  }
}

.sixth-part-upper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sixth-part-header {
  text-align: center;
  margin-bottom: 10px;
}

.sixth-part-text {
  text-align: center;
}

@media (max-width: 800px) {
  .sixth-part {
    margin-bottom: 10px;
  }
  .sixth-part-upper {
    margin-bottom: 35px;
  }
}
@media (min-width: 801px) {
  .sixth-part {
    margin-bottom: 50px;
  }
  .sixth-part-upper {
    margin-bottom: 40px;
  }
}

.sixth-part-lower {
  display: grid;
  justify-self: center;
  grid-template-columns: 1fr 1fr;
}

.sixth-part-lower-column {
  display: flex;
  flex-direction: column;
  justify-self: center;
}

.sixth-part-lower-element {
  display: flex;
}

.sixth-part-lower-element-text {
  display: inline;
  font-size: 30px;
}

@media (max-width: 800px) {
  .sixth-part-lower {
    width: 90%;
    column-gap: 15px;
  }
  
  .sixth-part-lower-element {
    margin-bottom: 25px;
    flex-direction: column;
    align-items: center;
  }

  .sixth-part-icon {
    width: 38px;
    margin-bottom: 10px;
    display: block;
  }
  
  .sixth-part-lower-element-text {
    display: inline;
    font-size: 20px;
  }
}
@media (min-width: 801px) {
  .sixth-part-lower {
    width: 70%;
    column-gap: 10px;
  }
  
  .sixth-part-lower-element {
    margin-bottom: 25px;
    flex-direction: row;
    align-items: center;
  }

  .sixth-part-icon {
    display: inline;
    vertical-align: top;
    margin-right: 15px;
  }
  
  .sixth-part-lower-element-text {
    display: inline;
    font-size: 20px;
  }
}
