.header {
  font-weight: 600;
  background-image: -webkit-linear-gradient(left, #0c2e77, #699cf3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text {
  font-weight: 400;
  color: #171717;
}

@media (max-width: 800px) {
  .header {
    font-size: 25px;
  }

  .text {
    font-size: 15px;
  }
}
@media (min-width: 800px) {
  .header {
    font-size: 40px;
  }

  .text {
    font-size: 20px;
  }
}

.first-part {
  display: flex;
  margin: 0 2%;
  margin-top: 50px;
}

.first-part-left {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.first-part-link-button {
  padding: 12px 28px;
  border-width: 1.2px;
  border-color: #142d86;
  border-style: solid;
  border-radius: 21px;
  background-color: white;
  color: #171717;
  font-size: 16px;
  font-weight: 500;

  transition: background-color 0.2s, color 0.2s;
}

.first-part-link-button:hover {
  background-color: #142d86;
  color: white;
}

.first-part-right {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

/* Formatting depending on screen size */
@media (max-width: 800px) {
  .first-part {
    flex-direction: column;
    justify-content: center;
  }

  .first-part-left-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
  }

  .first-part-header {
    margin-bottom: 15px;
    text-align: center;
  }

  .first-part-text {
    text-align: justify;
    margin-bottom: 30px;
  }
}
@media (min-width: 800px) {
  .first-part {
    flex-direction: row;
    align-items: center;
  }

  .first-part-left {
    flex: 2;
    margin-left: 2%;
  }

  .first-part-left-inner {
    width: 80%;
  }

  .first-part-header {
    margin-bottom: 50px;
  }

  .first-part-text {
    margin-bottom: 50px;
  }

  .first-part-right {
    flex: 1;
  }
}

/* Image formatting */
@media (max-width: 800px) {
  .first-part-image {
    width: 250px;
  }
}
@media (min-width: 801px) and (max-width: 1700px) {
  .first-part-image {
    width: 80%;
  }
}
@media (min-width: 1701px) {
  .first-part-image {
    width: 500px;
    margin-right: 10%;
  }
}

/* Second part */
.second-part {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.second-part-upper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.second-part-upper-header {
  text-align: center;
}

.second-part-lower {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
  width: 100%;
}

.second-part-lower-grid-element {
  display: flex;
  justify-content: center;
}

@media (max-width: 800px) {
  .second-part {
    margin: 0 2%;
  }

  .second-part-upper {
    width: 100%;
  }

  .second-part-upper-header {
    margin-bottom: 10px;
  }
}
@media (min-width: 801px) {
  .second-part {
    margin: 0 10%;
    margin-top: 50px;
  }

  .second-part-upper {
    width: 50%;
  }

  .second-part-upper-header {
    text-align: center;
    margin-bottom: 20px;
  }
}
